body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.sidebar {
    width: 280px;
    height: 100vh;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 20px;
}

.sidebar h6 {
    font-weight: bold;
    font-size: 12px;
    color: #6c757d;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.nav-link {
    display: flex;
    align-items: flex-start;
    padding: 12px;
    border-radius: 8px;
    color: #333;
    text-decoration: none;
    flex-direction: column;
    font-size: 14px;
}

.nav-link:hover {
    background-color: #4da6ff;
    color: white;
}
.nav-link.section-divider {
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.nav-link .icon {
    font-size: 16px;
}

.nav-link .title {
    font-weight: 500;
}

.nav-link .subtitle {
    font-size: 12px;
    color: #6c757d;
}

.nav-link.active .subtitle {
    color: #f0f8ff;
}

.container-fluid{
    margin-top: 10px;
}
.content {
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #7fbaf5;
    color: white;
    padding: 30px;
}
.description {
    color: black;
}