<!-- Login Component Template -->
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card feature-card h-100 text-center p-4">
                <h5 class="card-title">Login</h5>
                <form #myForm="ngForm" class="text-start">
                    <div class="form-group mt-3">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]="email" #email_verify="ngModel"
                            class="form-control">
                        <div *ngIf="email_verify.touched && email_verify.invalid">
                            <span *ngIf="email_verify.errors?.['required']" class="e1">Email is Mandatory</span>
                            <span *ngIf="email_verify.errors?.['pattern']" class="e1">Invalid Email Format</span>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required minlength="5"
                            [(ngModel)]="password" #password_verify="ngModel" class="form-control">
                        <div *ngIf="password_verify.touched && password_verify.invalid">
                            <span *ngIf="password_verify.errors?.['required']" class="e1">Password is Mandatory</span>
                            <span *ngIf="password_verify.errors?.['minlength']" class="e1">Password must be at least 5
                                characters</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 w-100" [disabled]="myForm.invalid">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

