.container-fluid{
    margin-top: 10px;
}
.content {
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #7fbaf5;
    color: white;
    padding: 30px;
}
.description {
    color: black;
}