<nav class="navbar navbar-expand-lg navbar-light bg-light" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Deer Hub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex ms-auto">
                <!-- <input class="form-control me-2" type="search" placeholder="Search"> -->
                <button class="btn btn-primary" type="submit">Login</button>
                &nbsp;<button class="btn btn-secondary" type="button" routerLink="/login">Signup</button>
            </form>
        </div>
    </div>
</nav>
